#####################################################################
# 	LED Control
#####################################################################

#[output_pin caselight]
# Chamber Lighting - HE1 Connector (Optional)
#pin: PB11
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

[output_pin daylight]
pin: PB11
pwm: True
cycle_time: 0.01

#--------------------------------------------------------------------

[neopixel front_logo]

pin: PB0
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 7
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0
#   See the "led" section for information on these parameters.
#--------------------------------------------------------------------